.header {

}

.headerMenu {
    margin-left: 150px;
    /* float: left; */
}

.sider {
    width: 400px;
}

.avatar {
    position: absolute;
    right: 20px;
    top: 2px;
}

.avatarName {
    color: #fafafa;
    margin-left: 10px;

}